body {
    color: rgb(182, 147, 163);
    background: rgb(185, 12, 99);
    margin: 0px;
}

header {
    border-bottom: solid 2px rgb(179, 88, 166);
    padding: 20px;
    font-size: 32px;
    color: rgb(21, 240, 185);
}

section {
    background: rgb(236, 5, 179);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}